<!DOCTYPE html>
<html>
<head>
    <title>Edit {{title}}</title>
    <link type="text/css" rel="stylesheet" href="/style/main.css" />
</head>
<body>
    <div class="login-area">
        {% if logged_in %}
            <a class="login-link">{{user}}</a>
             (<a class="login-link" href="/logout">logout</a>)
        {% else %}
            <a class="login-link" href="/login">login</a>
        {% endif %}

    </div>
    <form method="post">
        <div class="textarea">
            <textarea name="content">{{content}}</textarea>
        </div>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>