<!DOCTYPE html>
<html>
<head>
    <title>Edit {{title}}</title>
    <link type="text/css" rel="stylesheet" href="/style/main.css" />
</head>
<body>
    <div class="login-area">
        <a class="login-link" href="/_edit{{title}}">edit</a>
        |
        <a class="login-link" href="{{title}}">view</a>
        <pre>   </pre>
        <a class="login-link">{{user}}</a>
        (<a class="login-link" href="/logout">logout</a>)
    </div>
    <table>
    {% for e in entry %}
        <tr>
            <td>{% e[0].last_modified.strftime() %}</td>
            <td>{%str(e[0].content)[:100] + '(...)'%}</td>
            <td><a class="login-link" href="{{title}}?v={{e[1]}}">view</a></td>
            <td><a class="login-link" href="/_edit{{title}}">edit</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>