<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/style/main.css" />
    <title>{{ entry.title }}</title>
</head>
<body>
    <div class="login-area">
        {% if logged_in %}
            <a class="login-link" href="/_edit{{entry.title}}">edit</a>
            |
            <a class="login-link">{{user}}</a>
            <a class="login-link" href="/logout">(logout)</a>
        {% else %}
            <a class="login-link" href="/login">login</a>
        {% endif %}

    </div>
    <div class="post">
        {{ entry.content }}
    </div>
    <p>Queried {{age}} seconds ago.</p>
</body>
</html>